<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
">

      <!--1.创建自定义realm的对象-->
    <bean  id="my" class="com.qf.myrealm.RealmA">
        <property name="credentialsMatcher" ref="ma"></property>
    </bean>
    <!--2.创建安全管理器-->
    <bean id="manager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="my"></property>
    </bean>
    <!--3.定义shiro过滤器 id="filter-name的值"-->
   <bean id="FilterProxy" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="manager"></property>
        <property name="loginUrl"  value="/tologin"></property>  <!--登录请求的路径-->
        <property name="unauthorizedUrl" value="/error.jsp"></property>
        <property name="filterChainDefinitions">
           <value>
                  /login.jsp=anon
                  /loginout=logout
                  /**= authc
           </value>
       </property>
   </bean>

   <!--4.添加凭证器-->
    <bean id="ma" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"></property>
        <property name="hashIterations" value="1"></property>
    </bean>
</beans>